* {
  box-sizing: border-box;
}

p {
  margin: 0px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.page {
  margin: auto;
  font-family: "Source sans Pro", Calibri, Tahoma, sans-serif;
  font-size: 16px;
  color: white;
  display: grid;
  grid-template-columns: 27% 73%;
  grid-template-rows: 25% 75%;
  width: 780px;
  height: 1002px;
}

.top-left {
  grid-column: 1;
  grid-row: 1;
  background-color: rgb(75, 75, 75);
  border-bottom: solid;
  border-width: 10px;
  border-color: rgb(235, 199, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-right {
  grid-column: 2;
  grid-row: 1;
  background-color: rgb(75, 75, 75);
  border-bottom: solid;
  border-width: 10px;
  border-color: rgb(235, 199, 0);
}

.bot-left {
  background-color: rgb(75, 75, 75);
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bot-right {
  color: rgb(75, 75, 75);
  background-color: rgb(255, 255, 255);
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}

.tr-element {
  margin: 10px;
}

.tr-element h1 {
  font-size: 32;
  margin-bottom: 5px;
  margin-top: 5px;
  font-variant: small-caps;
}

.tr-element h2 {
  font-size: 32;
  margin-top: 5px;
  margin-bottom: 10px;
}

#about {
  border-top: solid;
  text-align: justify;
  border-width: 2px;
  border-color: rgb(235, 199, 0);
  padding-top: 10px;
}

.sl-element {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sl-element h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sr-element {
  margin: 5px 15px;
  display: flex;
  flex-direction: column;
}

.sr-element h4 {
  margin: 0;
}

.sr-element h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.sr-element ul {
  padding-left: 20px;
  margin: 0;
}

.history {
  display: grid;
  grid-template-columns: 18% 82%;
  margin-bottom: 5px;
}

.left-history {
  grid-column: 1;
}

.right-history {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.contact {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 90%;
  align-self: center;
  padding: 5px 0;
}

.contact img {
  height: 20px;
  margin: 0;
  align-self: center;
}

.contact span {
  align-self: center;
}

img {
  max-width: 200px;
  margin: 10px;
}

.photo {
  border: solid;
  border-radius: 50%;
  border-color: rgb(235, 199, 0);
}

.skills-container {
  display: flex;
  margin-bottom: 10px;
  align-self: center;
  width: 100%;
  justify-content: space-evenly;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
  width: 200px;
}

.tech-skills-container {
  display: flex;
  align-items: center;
}

.tech-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
}

.tech-skill img {
  height: 50px;
  width: 50px;
  margin: 0;
}

.tech-skill span {
  text-align: center;
}

#skills div:last-child {
  margin-bottom: 0px;
}

.bot-left ul {
  margin-left: -35px;
  margin-bottom: 0;
  margin-top: 0;
}

#contact-portfolio {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.golden-title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.golden-title-container h3 {
  align-self: center;
  color: rgb(75, 75, 75);
  background-color: rgb(235, 199, 0);
  border-radius: 50px;
  padding: 5px 10px;
  z-index: 1;
}

.golden-title-container div {
  position: absolute;
  background-color: rgb(235, 199, 0);
  height: 390px;
  top: 16px;
  width: 100%;
  z-index: 0;
}

.golden-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(75, 75, 75);
  padding-top: 10px;
  width: 100%;
  z-index: 0;
}

.delimiter {
  background-color: rgb(75, 75, 75);
  height: 1px;
  width: 125px;
  margin: 20px 0;
}

.last-span {
  margin-top: 40px;
  font-size: 12px;
  font-weight: 100;
}
